In [4]:
import pandas as pd

data = {"name":["abe","alejo","babilonio","mimi"],
        "age":[39,14,50,4],
        "city":["guarne","urbekistan","rolandia","medallollin"]}

df = pd.DataFrame(data)

print(df)

        name  age         city
0        abe   39       guarne
1      alejo   14   urbekistan
2  babilonio   50     rolandia
3       mimi    4  medallollin

In [6]:
print(df["name"]) ### Column Selection

0          abe
1        alejo
2    babilonio
3         mimi
Name: name, dtype: object

In [9]:
# Accessing Rowns:

print(df.iloc[2]) # Access the third row by position
print(df.loc[1]) # Access the second row by label

name    babilonio
age            50
city     rolandia
Name: 2, dtype: object
name         alejo
age             14
city    urbekistan
Name: 1, dtype: object

In [12]:
# Slicing

print(df[["name","age"]])
print("........")
print(df[1:3])

        name  age
0        abe   39
1      alejo   14
2  babilonio   50
3       mimi    4
........
        name  age        city
1      alejo   14  urbekistan
2  babilonio   50    rolandia

In [14]:
### Finding Unique Elements:

unique_dates = df["age"].unique()
unique_dates

array([39, 14, 50,  4])

In [16]:
#conditional Filtering

high_above_102 = df[df["age"]> 25]  
high_above_102

        name  age      city
0        abe   39    guarne
2  babilonio   50  rolandia

In [17]:
#Saving DataFrames:

df.to_csv("trading_data.csv", index=False)