In [1]:
x=1
x=x+1
print(x)

2

In [2]:
1+3*2

7

In [3]:
int(False)

0

In [4]:
"1"+"2"

'12'

In [5]:
"hola".upper()

'HOLA'

In [6]:
str(1+1)

'2'

In [7]:
"123".replace("12","ab")

'ab3'

In [13]:
x=1/1
print(type(x))

<class 'float'>

In [23]:
x="Fun Python"
x[0:5]

'Fun P'

In [15]:
x=7,1
print(type(x))

<class 'tuple'>

In [17]:
print(type(int(12.3)))

<class 'int'>

In [18]:
int(True)

1

In [20]:
str(1)+str(1)

'11'

In [21]:
"ABC".replace("AB","ab")

'abC'

In [29]:
tupla = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
print(type(tupla))
print(tupla[2][1][0])

<class 'tuple'>
r